<%= render partial: 'lesson_details' %>

<% if @lesson.unconfirmed? %>
  <%= render partial: 'lesson_actions_unconfirmed' %>
<% end %>


<% if @lesson.canceled? %>
  <p>Lesson has been canceled.</p>
<% end %>
