<%= render partial: 'lesson_details' %>

<% if @lesson.active? %>
  <%= render partial: 'lesson_actions_active' %>
<% end %>

<% if @lesson.finalizing? %>
  <%= render partial: 'lesson_actions_finalizing' %>
<% end %>

<% if @lesson.canceled? %>
  <p>Lesson has been canceled.</p>
<% end %>
